.swiper-btn-prev {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.swiper-btn-next {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.category-btn-prev {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.category-btn-next {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
