.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #232F3E;
  height: 100vh;
  z-index: 2;
  transform: translateX(-100%);
  transition: all .3s ease;

  &:target {
    transform: translateX(0);
    .menu {
      overflow: hidden;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__link {
    color: #fff;
    font-size: 20px;
    transition: all .3s ease;

    &:hover {
      color: rgb(65, 205, 200);
    }
  }
}